services:
  - type: web
    name: careflow-backend
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate
    startCommand: gunicorn hospital_queue.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:$PORT
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DJANGO_DEBUG
        value: false
      - key: DJANGO_ALLOWED_HOSTS
        sync: false
      - key: MONGO_URL
        sync: false
      - key: MONGO_DB_NAME
        value: careflow
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: PYTHON_VERSION
        value: 3.14.0
